<robot name="mojito_planar">
  <link name="body" />
  <link name="thigh" />
  <link name="shank" />
  <link name="foot" />
  <joint name="hip" type="revolute">
    <parent link="body" />
    <child link="thigh" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <axis xyz="0.0 1.0 0.0" />
    <limit lower="0.0" upper="1.5" effort="0" velocity="0" />
  </joint>
  <joint name="knee" type="revolute">
    <parent link="thigh" />
    <child link="shank" />
    <origin xyz="0.0 0.0 -0.15" rpy="0.0 0.0 0.0" />
    <axis xyz="0.0 1.0 0.0" />
    <limit lower="-2.3" upper="-0.3" effort="0" velocity="0" />
  </joint>
  <joint name="foot" type="fixed">
    <parent link="shank" />
    <child link="foot" />
    <origin xyz="0.0 0.0 -0.15" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
